# Core
uproot==5.7.2
awkward==2.9.0
pyarrow==23.0.1
numpy==2.4.3
pandas==3.0.1

# Big Data
pyspark==4.1.1

# Machine Learning / Stats
scikit-learn==1.5.2
scipy==1.13.1

# Visualisation
plotly==5.24.1
matplotlib==3.10.8

# Notebook / Dev
jupyterlab==4.2.5
ipykernel==6.29.5

# Optional but recommended
tqdm==4.67.1
